{% extends '../../../../base.html' %}

{% block title %}Lista Escuelas{% endblock title %}

{% block body %}
    <h2>Lista Escuelas</h2>
    <h3>Cantidad de Escuelas: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Colonia</th>
                <th class="cabecera">Clave Tipo Escuela</th>
                <th class="cabecera">Nombre Tipo Escuela</th>
                <th class="cabecera">Abreviación</th>
                <th class="cabecera">Nombre Institución</th>
                <th class="cabecera">Nombre Plantel</th>
                <th class="cabecera">Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for es in escuelas %}
            <tr >
                <td>{{ es.rowid_col.descri_largo_col }}</td>
                <td>{{ es.id_tipo_esc }}</td>
                <td>{{ es.descri_largo_esc }}</td>
                <td>{{ es.descri_corta_esc }}</td>
                <td>{{ es.institucion }}</td>
                <td>{{ es.nombre_plantel }}</td>
                <td>{{ es.estatus_esc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }
    </style>

{% endblock body %}