{% extends '../../../../base.html' %}

{% block title %}Lista Tipo Cambio Carrera{% endblock title %}

{% block body %}
    <h2>Lista Tipo Cambio Carrera</h2>
    <h3>Cantidad de Tipo Cambio Carrera: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Id</th>
                <th class="cabecera">Descripción cambio</th>
                <th class="cabecera">Estatus</th>

            </tr>
        </thead>
        <tbody>
            {% for c in cambios %}
            <tr >
                <td>{{ c.id_tipo_cambio }}</td>
                <td>{{ c.descri_tipocambio }}</td>
                <td>{{ c.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }
    </style>

{% endblock body %}