{% extends '../../../../base.html' %}

{% block title %}Lista Becas{% endblock title %}

{% block body %}
    <h2>Lista Becas</h2>
    <h3>Cantidad de Becas: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Clave Beca</th>
                <th class="cabecera">Valor Inicial</th>
                <th class="cabecera">Valor Final</th>
                <th class="cabecera">Porcentaje</th>
                <th class="cabecera">Estatus</th>

            </tr>
        </thead>
        <tbody>
            {% for b in becas %}
            <tr >
                <td>{{ b.id_becas }}</td>
                <td>{{ b.valor_ini_bec }}</td>
                <td>{{ b.valor_fin_bec }}</td>
                <td>{{ b.porcentaje_beca }}</td>
                <td>{{ b.estatus_bec }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }
    </style>

{% endblock body %}