{% extends '../../../../base.html' %}

{% block title %}Lista Carreras{% endblock title %}

{% block body %}
    <h2>Lista Carreras</h2>
    <h3>Cantidad de Carreras: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Division</th>
                <th class="cabecera">ID Carrera</th>
                <th class="cabecera">Carrera</th>
                <th class="cabecera">Abreviacion</th>
                <th class="cabecera">Descripcion</th>
                <th class="cabecera">Ceneval</th>
                <th class="cabecera">Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for c in car %}
            <tr >
                <td>{{ c.rowid_div.descri_larga_div }}</td>
                <td>{{ c.id_car }}</td>
                <td>{{ c.descri_largo_car }}</td>
                <td>{{ c.descri_corto_car }}</td>
                <td>{{ c.descri_largo_tit }}</td>
                <td>{{ c.ceneval_car }}</td>
                <td>{{ c.estatus_car }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }

        {% comment %}    Esta linea se usa para cambiar la orientacion de la hoja de vertical a horizontal    
         @page {
            size: letter landscape;
            margin: 0.5cm;
            type: A4;
        }  {% endcomment %} 
    </style>

{% endblock body %}