{% extends '../../CRUD.html' %}

{% block title %}Gestión Municipios/Alcaldias{% endblock title %}

{% block buttons %}
{% comment %} Espera los botones imprimir {% endcomment %}
<h3>Gestión de Municipios/Alcaldias</h3>
    <div class="container mb-4 mt-4">
        <div class="row justify-content-md-center">
            <div class="col col-12 col-sm-3 col-lg-3">
                {% load bootstrap_icons %}
                <a href="{% url 'export_csv_municipios' %}" type="button" class="btn btn-primary" id="button">CSV {% bs_icon 'file-earmark-bar-graph' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_xlwt_municipios' %}" type="button" class="btn btn-success" id="button">Excel{% bs_icon 'file-earmark-excel' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_pdf_municipios' %}" type="button" class="btn btn-danger" id="button">PDF{% bs_icon 'file-earmark-pdf' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_print_municipios' %}" type="button" class="btn btn-secondary"id="button">Print {% bs_icon 'printer' size='1.5em'%}</a>
            </div>
        </div>
    </div>
{% endblock buttons %}


{% comment %} Espera un formulario con los campos de texto y botones {% endcomment %}
{% block form %}
<form action="" method="POST">{% csrf_token %}

        {{ FormMunicipiosDelegaciones.as_p }}

        <div class="form-group" >
            <button type="submit" class="btn btn-success btn-block text-white" id="save"> Guardar {% bs_icon 'check2-square' size='1.5em'%}</button>
        </div>
  </form>
{% endblock form %}

{% block search %}
{% comment %} Busqueda por nombre {% endcomment %}
<h1>Catálogo - Municipios/Alcaldias</h1>
<form method="GET" action="{% url 'vista_municipios' %}">
    <div class="input-group mb-3 mt-4">
        <input type="search" class="form-control" placeholder="Escribe el nombre del Municipio/Delegación..." name="search_municipios">
        <div class="input-group-append">
            <span class="input-group-text bg-success">
                {% load bootstrap_icons %}
                <button class="btn btn-success text-white">
                    {% bs_icon 'search' size='1.5em'%}
                </button>
            </span>
        </div>
    </div>
</form>
{% endblock search %}

{% comment %} Espera una tabla que se llena con un for {% endcomment %}
{% block table %}
<table class="table table-striped">
    <p style="text-align: right; font-size: 25px;"> Número de Municipios/Alcaldias: {{ contador }} </p>
    <thead>
        <tr>
            <th>Estado</th>
            <th>Clave</th>
            <th>Municipio/Alcaldias</th>
            <th>Abreviatura</th>
            <th>Estatus</th>
            <th id="operaciones">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for m in entity %}
        <tr>
            {% load bootstrap_icons %}
            <td>{{ m.rowid_edo.descri_largo_edo }}</td>
            <td>{{ m.id_mundel }}</td>
            <td>{{ m.descri_largo_mundel }}</td>
            <td>{{ m.descri_corto_mundel }}</td>
            <td>{{ m.estatus_mundel }}</td>
            <td class="d-flex justify-content-evenly">
                <a href="../vista-municipio/{{m.rowid_mundel}}/" class="btn btn-warning">
                    {% bs_icon 'pencil-square' size='1.5em'%}
                </a>
                <a href="../eliminar-municipio/{{m.rowid_mundel}}/" class="btn btn-danger">
                    {% bs_icon 'trash' size='1.5em'%}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock table %}