{% extends "../base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Iniciar Sesión{% endblock %}

{% block head %}
{% comment %} Bloque para agregar links {% endcomment %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock head %}

{% block navbar %}
{% comment %} {% include 'NavBar.html' %} {% endcomment %}
{% endblock navbar %}

{% block body %}
{% comment %} Contenido de cada paguina {% endcomment %}



<div id="main_container" class="container d-grid h-100 bg-white shadow-lg  bg-body rounded">

  <div class="row w-100">

    {% if messages %}
    {% for message in messages %}
    <div class="row mb-0 py-0">
      <div class="alert alert-danger alert-dismissible fade show w-50 text-center col-sm-12 col-md-3 mb-0 py-0"
        role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong class="text-dark" style="font-size:1.2em">{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger alert-dismissible fade show " role="alert">
      <strong>{{ error|escape }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}
    <!--LOGIN-->
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show p-2" role="alert">
      <strong>{{ error|escape }}</strong>
      <button type="button" class="btn-close px-3 py-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif%}


    <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6 mt-4">
      <form id="formularioSignup" class="text-center w-100" action="" method="post">{% csrf_token %}
        <img src="{% static 'img/logo_utn.png' %}" class="mb-3" width="100" alt="">
        <h1 class="text-dark mb-3 fw-3 fw-normal">Iniciar Sesión</h1>

        <label class="form-label" for="id_username">Usuario:</label>
        <input id="InputForm" class="form-control mb-3 rounded-pill w-75 text-center" type="text"
          placeholder="Ingresa tu usuario" name="username" maxlength="150" autofocus="" style="border-color:#21B64A;"
          required>

        <label class="form-label" for="id_password1">Contraseña:</label>
        <input id="InputForm" class="form-control mb-4 rounded-pill w-75 text-center" type="password"
          placeholder="Ingresa tu contraseña" name="password" autofocus="" style="border-color:#21B64A;"
          required>
        <button type="submit" class="btn btn-success mb-3">Iniciar Sesion</button>

        <div class="d-flex">
          <div class="my-3" style="text-align: center;"> </div>
          <div class="flex-grow-1">
            {% comment %} <span>¿No tienes cuenta?<a href="{% url 'signup' %}" style="color:#21B64A;"> Registrate</a> </span> {% endcomment %}
        </div>

      </form>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 mt-5 img-fluid  ">
    <img src="{% static 'img/BG.jpg' %}" id="imageUTN" class="shadow-lg">
  </div>
</div>



{% endblock %}