{% extends '../../../../base.html' %}

{% block title %}Plan de estudios{% endblock title %}

{% block body %}
<meta charset="UTF-8"/>
    <h2>Lista plan de estudios</h2>
    <h3>Cantidad de Planes: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Asignatura</th>   
                <th class="cabecera">Plan de estudios</th>
                <th class="cabecera">Grado</th>
                <th class="cabecera">Carrera</th>
                <th class="cabecera">Total de horas</th>
                <th class="cabecera">Creditos</th>
                <th class="cabecera">Nota Minima Aprobatoria</th>         
                <th class="cabecera">Valor Final</th>
                <th class="cabecera">Estatus</th>
        </thead>
        <tbody>
            {% for p in planes %}
            <tr >
                <td>{{ p.rowid_asignatura }}</td>
                <td>{{ p.rowid_plan_est }}</td>
                <td>{{ p.rowid_grado }}</td>
                <td>{{ p.rowid_car }}</td>
                <td>{{ p.horas_plan_est }}</td>
                <td>{{ p.creditos_plan_est }}</td>
                <td>{{ p.nota_minima_apro_est }}</td>
                <td>{{ p.valor_pon_final}}</td>
                <td>{{ p.estatus_pea}}</td> 
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }
    </style>

{% endblock body %}