{% extends '../../CRUD.html' %}

{% block title %}Gestión Divisiones{% endblock title %}

{% block buttons %}
{% comment %} Espera los botones imprimir {% endcomment %}
<h3>Gestión de Divisiones</h3>
    <div class="container mb-4 mt-4">
        <div class="row justify-content-md-center">
            <div class="col col-12 col-sm-3 col-lg-3">
                {% load bootstrap_icons %}
                <a href="{% url 'export_csv_divisiones' %}" type="button" class="btn btn-primary" id="button">CSV {% bs_icon 'file-earmark-bar-graph' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_xlwt_divisiones' %}" type="button" class="btn btn-success" id="button">Excel{% bs_icon 'file-earmark-excel' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_pdf_divisiones' %}" type="button" class="btn btn-danger" id="button">PDF{% bs_icon 'file-earmark-pdf' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_print_divisiones' %}" type="button" class="btn btn-secondary"id="button">Print {% bs_icon 'printer' size='1.5em'%}</a>
            </div>
        </div>
    </div>
{% endblock buttons %}


{% comment %} Espera un formulario con los campos de texto y botones {% endcomment %}
{% block form %}
<form action="" method="POST">{% csrf_token %}
    <p>
    {{ FormDivisiones.as_p }}
    </p>
    <div class="form-group" >
        <button type="submit" class="btn btn-success btn-block text-white" id="save">Guardar {% bs_icon 'check2-square' size='1.5em'%}</button>
    </div>
</form>
{% endblock form %}

{% block search %}
{% comment %} Busqueda por nombre {% endcomment %}
<h1>Catálogo - Divisiones</h1>
<form method="GET" action="{% url 'vista_Divisiones' %}">
    <div class="input-group mb-3 mt-4">
        <input type="search" class="form-control" placeholder="Escribe nombre de la división...." name="search_divisiones">
        <div class="input-group-append">
            <span class="input-group-text bg-success">
                {% load bootstrap_icons %}
                <button class="btn btn-success text-white">
                    {% bs_icon 'search' size='1.5em'%}
                </button>
            </span>
        </div>
    </div>
</form>
{% endblock search %}

{% comment %} Espera una tabla que se llena con un for {% endcomment %}
{% block table %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Universidad</th>
            <th>Clave División</th>
            <th>División</th>
            <th>Abreviación</th>
            <th>Representante</th>
            <th>Tel 1</th>
            <th>Tel 2</th>
            <th>Ext 1</th>
            <th>Ext 2</th>
            <th>Email</th>
            <th>Estatus</th>
            <th id="operaciones">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for d in entity %}
        <tr>
            {% load bootstrap_icons %}
            <td>{{ d.rowid_uni.nombre_uni }}
            <td>{{ d.id_div }}</td>
            <td>{{ d.descri_larga_div }}</td>
            <td>{{ d.descri_corta_div }}</td>
            <td>{{ d.representante_div }}</td>
            <td>{{ d.telefono_1_div }}</td>
            <td>{{ d.telefono_2_div }}</td>
            <td>{{ d.extension1_div }}</td>
            <td>{{ d.extension2_div }}</td>
            <td>{{ d.mail_div }}</td>
            <td>{{ d.estatus_div }}</td>
            <td class="d-flex justify-content-evenly">
                <a href="../vista-Divisiones/{{ d.rowid_div }}/" class="btn btn-warning">
                    {% bs_icon 'pencil-square' size='1.5em'%}
                </a>
                <a href="../eliminar-Divisiones/{{ d.rowid_div }}/" class="btn btn-danger">
                    {% bs_icon 'trash' size='1.5em'%}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock table %}