{% extends '../../../../base.html' %}
{% block title %}Catálogo - Tipo Cambio Carrera{% endblock title %}

{% block navbar %}
  {% include 'NavBar.html' %}
{% endblock navbar %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="fs-1" style="text-align: center;">Editar Tipo Cambio Carrera</h2>
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">{% csrf_token %}

                    
                    <div class="form-group">
                        <input type="text" id="txtId_tipo_cambio" name="txtId_tipo_cambio" class="form-control mb-3" placeholder="ID Tipo Cambio Carrera" maxlength="50" required value="{{cambio.id_tipo_cambio}}"readonly>
                    </div>

                    {{ FormTipoCambio.as_p }}
                    
                    <div class="form-group d-flex justify-content-evenly">  
                        <button type="submit" class="btn btn-success btn-block text-white">Actualizar</button>  
                        <a class="btn btn-danger btn-block" href="{% url 'vistaCambios' %}">Cancelar</a>   
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}