{% extends '../../../../base.html' %}

{% block title %}Lista Colonias{% endblock title %}

{% block body %}
    <h2>Lista Colonias</h2>
    <h3>Cantidad de Colonias: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Clave</th>
                <th class="cabecera">Municipio</th>
                <th class="cabecera">Asentamiento</th>
                <th class="cabecera">Colonia</th>
                <th class="cabecera">Abreviación</th>
                <th class="cabecera">Codigo Postal</th>
                <th class="cabecera">Estatus</th>    
            </tr>
        </thead>
        <tbody>
            {% for c in colonias %}
            <tr >
                <td>{{ c.id_col }}</td>
                <td>{{ c.rowid_mundel.descri_largo_mundel }}</td>
                <td>{{ c.rowid_asentamiento.descri_largo_asentamiento }}</td>
                <td>{{ c.descri_largo_col }}</td>
                <td>{{ c.descrip_corto_col }}</td>
                <td>{{ c.codposcol }}</td>
                <td>{{ c.estatus_col }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
            background: rgb(209, 231, 221);
            color: #000;
         }
    </style>

{% endblock body %}