{% extends '../../../../base.html' %}

{% block title %}Asignaturas{% endblock title %}

{% block body %}
<meta charset="UTF-8"/>
    <h2>Lista de asignaturas</h2>
    <h3>Cantidad de asignaturas: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Plan de estudio</th>
                <th class="cabecera">Carrera</th>
                <th class="cabecera">Id Asignatura</th>
                <th class="cabecera">Nombre</th> 
                <th class="cabecera">Abreviatura</th>
                <th class="cabecera">Estatus</th>
        </thead>
        <tbody>
            {% for p in planes %}
            <tr >
                <td>{{ p.rowid_plan_est }}</td>
                <td>{{ p.rowid_car }}</td>
                <td>{{ p.id_asignatura }}</td>
                <td>{{ p.descri_larga_asi }}</td>
                <td>{{ p.descri_corto_asi }}</td>
                <td>{{ p.estatus_asi }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }
    </style>

{% endblock body %}