{% extends '../../../../base.html' %}

{% block title %}Lista Aspirantes{% endblock title %}

{% block body %}
    <h2>Lista Aspirantes</h2>
    <h3>Cantidad de Aspirantes: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Clave</th>
                <th class="cabecera">Aspirante</th>
                <th class="cabecera">Documento</th>
                <th class="cabecera">¿Importante?</th>
                <th class="cabecera">¿Entrego?</th>
                <th class="cabecera">Comentario</th>
                <th class="cabecera">Fecha Alta</th>
                <th class="cabecera">Usuario Alta</th>
                <th class="cabecera">Fecha Cambio</th>
                <th class="cabecera">Usuario Cambio</th>
                <th class="cabecera">Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for p in form %}
            <tr >
                <td>{{ p.rowid_asp_docu }}</td>
                <td>{{ p.rowid_asp }}</td>
                <td>{{ p.rowid_doc }}</td>
                <td>{{ p.import_doc }}</td>
                <td>{{ p.entrego_doc }}</td>
                <td>{{ p.comentario_doc }}</td>
                <td>{{ p.fecha_alta_doc }}</td>
                <td>{{ p.user_alta_doc }}</td>
                <td> {{ p.fecha_cambio_doc }} </td>
                <td> {{ p.user_cambio_doc }} </td>
                <td> {{ p.estatus_doc_aspi }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: rgb(209, 231, 221);
         }
         @page {
            size: letter landscape;
            margin: 0.5cm;
            type: A4;
        }
    </style>

{% endblock body %}