{% extends '../../../../base.html' %}

{% block title %}Lista Estados{% endblock title %}

{% block body %}
    <h2>Lista Estados</h2>
    <h3>Cantidad de Estados: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Pais</th>
                <th class="cabecera">Clave</th>
                <th class="cabecera">Estado</th>
                <th class="cabecera">Abreviación</th>
                <th class="cabecera">Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for e in estados %}
            <tr >
                <td>{{ e.rowid_pais.descri_largo_pais }}</td>
                <td>{{ e.id_edo }}</td>
                <td>{{ e.descri_largo_edo }}</td>
                <td>{{ e.descri_corto_edo }}</td>
                <td>{{ e.estatus_edo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
            background: rgb(209, 231, 221);
            color: #000;
         }
    </style>

{% endblock body %}