{% extends '../../../../base.html' %}

{% block title %}Lista Periodos{% endblock title %}

{% block body %}
    <h2>Lista Periodos</h2>
    <h3>Cantidad de Periodos: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Evento</th>
                <th class="cabecera">Consecutivo</th>
                <th class="cabecera">Fecha Inicial</th>
                <th class="cabecera">Fecha Final</th>
                <th class="cabecera">Año</th>
                <th class="cabecera">Periodo</th>
                <th class="cabecera">Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for p in per %}
            <tr >
                <td>{{ p.evento_per }}</td>
                <td>{{ p.consecutivo_per }}</td>
                <td>{{ p.fecha_inicial_per }}</td>
                <td>{{ p.fecha_final_per }}</td>
                <td>{{ p.anio_per }}</td>
                <td>{{ p.periodo_per }}</td>
                <td>{{ p.descripcion_per }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }

        {% comment %}    Esta linea se usa para cambiar la orientacion de la hoja de vertical a horizontal      
         @page {
            size: letter landscape;
            margin: 0.5cm;
            type: A4;
        } {% endcomment %}
    </style>

{% endblock body %}