{% extends '../../../../base.html' %}

{% block title %}Plan de estudios{% endblock title %}

{% block body %}
<meta charset="UTF-8"/>
    <h2>Lista plan de estudios</h2>
    <h3>Cantidad de Planes: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Plan de estudio</th>
                <th class="cabecera">Indicador</th>
                <th class="cabecera">Porcentaje</th>
                <th class="cabecera">Comentario</th>
                <th class="cabecera">Estatus</th>
        </thead>
        <tbody>
            {% for p in planes %}
            <tr >
                <td>{{ p.rowid_pro_plan_est}}</td>
                <td>{{ p.rowid_indicador }}</td>
                <td>{{ p.porcentaje_pro_asi_idi }}</td>
                <td>{{ p.comen_pro_asi_ind }}</td>
                <td>{{ p.estatus_peai }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }
    </style>

{% endblock body %}