{% extends '../../CRUD2.html' %}

{% block title %}Registro Aspirantes.{% endblock title %}

{% block buttons %}
{% comment %} Espera los botones imprimir {% endcomment %}
<div class="container mb-4 mt-4">
  <div class="row justify-content-md-center">
    {% load bootstrap_icons %}
    <div class="col col-12 col-sm-3 col-lg-4">
      <a href="{% url 'vista_municipios' %}" type="button" class="btn btn-success" id="button">Municipios {% bs_icon 'plus' size='2em'%}</a>
    </div>
    <div class="col col-12 col-sm-3 col-lg-4">
      <a href="{% url 'vista_asen' %}" type="button" class="btn btn-success" id="button">Asentamientos {% bs_icon 'plus' size='2em'%}</a>
    </div>
    <div class="col col-12 col-sm-3 col-lg-4">
      <a href="{% url 'vistaColonias' %}" type="button" class="btn btn-success" id="button">Colonias {% bs_icon 'plus' size='2em'%}</a>
    </div>
  </div>
</div>
{% endblock buttons %}

{% comment %} Espera un formulario con los campos de texto y botones {% endcomment %}
{% block form %}
<div class="row">

  {% if form.errors %}
    <ul class = "user-msg error">
        {% for field in form %}
            {% for error in field.errors %}
                <li>
                    {% if field != '__all__' %}
                        <strong>{{ field.label }}:</strong>
                    {% endif %}
                    {{ error }}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}

  <form action="" method="POST" id="aspForm" data-colonias-url="{% url 'ajax_load_colonias' %}"> {% csrf_token %}
    <div class="table-responsive-sm mt-2">
      <table class="table mt-3">
        <!--Encabezado 1-->
        <thead class="table-success">
          <th colspan="5">Alta aspirante</th>
        </thead>

        <tr>
          <th class="text-center" colspan="1">
            Fecha del sistema
          </th>
          <th class="text-center" colspan="2">
            {{ form.folio_utn_asp.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.folio_cen_asp.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.turno_asp.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ fecha_now}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.folio_utn_asp}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.folio_cen_asp}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.turno_asp}}
          </th>
        </tr>

        <tr>
          <th colspan="5"></th>
        </tr>

        <!--DATOS DEL ASPIRANTE -->
        <thead class="table-success">
          <th colspan="5">Datos aspirante</th>
        </thead>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.nombre_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.paterno_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.materno_asp.label}}
          </th>

        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.nombre_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.paterno_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.materno_asp}}
          </th>

        </tr>


        <tr>
          <th class="text-center" colspan="1">
            {{ form.fecha_nac_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.curp_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.rfc_asp.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.fecha_nac_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.curp_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.rfc_asp}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.sexo_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.email_asp.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.tipo_de_sangre_asp.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.estado_civil_asp.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.sexo_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.email_asp}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.tipo_de_sangre_asp}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.estado_civil_asp}}
          </th>
        </tr>



        <tr>
          <th colspan="5"></th>
        </tr>

        <!--DOMICILIO-->
        <tr>
          <thead class="table-success ">
            <th colspan="5">Domicilio</th>
          </thead>

        <tr>
          <th class="text-center" colspan="3">
            {{ form.calle_asp.label}}
          </th>
          <th class="text-center">
            {{ form.num_ext_asp.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.num_int_asp.label}}
          </th>
          
        </tr>

        <tr>
          <th class="text-center" colspan="3">
            {{ form.calle_asp}}
          </th>
          <th class="text-center">
            {{ form.num_ext_asp}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.num_int_asp}}
          </th>

        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.rowid_mundel.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.rowid_col.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.codigo_postal_asp.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.rowid_mundel}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.rowid_col}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.codigo_postal_asp}}
          </th>
        </tr>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
        $('#id_rowid_mundel').change(function () {
          const url = $("#aspForm").attr("data-colonias-url");
          const rowid_mundel = $(this).val()
          $.ajax({
          url: url,
          data: {
            'id_rowid_mundel': rowid_mundel
          },
          success: function (data) {
            $("#id_rowid_col").html(data)
          }
          })
        })
        </script>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.trabaja_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.tel_cas_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.telefono_oficina_asp.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.trabaja_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.tel_cas_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.telefono_oficina_asp}}
          </th>
        </tr>


        <tr>
          <th colspan="5"></th>
        </tr>

        <!--DATOS TUTOR-->
        <tr>
          <thead class="table-success ">
            <th colspan="5">Datos tutor</th>
          </thead>
        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.nombre_tutor_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.pat_tutor_asp.label}}
          </th>
          <th class="text-center">
            {{ form.mat_tutor_asp.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.nombre_tutor_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.pat_tutor_asp}}
          </th>
          <th class="text-center">
            {{ form.mat_tutor_asp}}
          </th>
        </tr>



        <tr>
          <th colspan="5"></th>
        </tr>

        <!--Antecedentes academicos -->
        <tr>
          <thead class="table-success ">
            <th colspan="5">Antecedentes académicos</th>
          </thead>
        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.rowid_esc_proc.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.rowid_area_bac.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.promedio_asp.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.rowid_esc_proc}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.rowid_area_bac}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.promedio_asp}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.fecini_bach_asp.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.fecfin_bach_asp.label}}
          </th>
          <th class="text-center" colspan="3">
            {{ form.rowid_car.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.fecini_bach_asp}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.fecfin_bach_asp}}
          </th>
          <th class="text-center" colspan="3">
            {{ form.rowid_car}}
          </th>
        </tr>


        <tr>
          <th class="text-center" colspan="1">
            {{ form.fechaexpedicioncer.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.folio.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.fechacompromisocerti.label}}
          </th>
        </tr>

        <tr>
          </th>
          <th class="text-center" colspan="1">
            {{ form.fechaexpedicioncer}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.folio}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.fechacompromisocerti}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.periodo_asp.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.anio_asp.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.generacion_asp.label}}
          </th>

        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.periodo_asp}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.anio_asp}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.generacion_asp}}
          </th>
        </tr>



        <tr>
          <th colspan="5"></th>
        </tr>


        <!--Medios difusion-->
        <tr>
          <thead class="table-success ">
            <th colspan="5">Medios de difusión</th>
          </thead>
        </tr>


        <tr>
          <th class="text-center" colspan="1">
            {{ form.rowid_medio_dif.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.opcioneducativa.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.continuidadestudio.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.rowid_medio_dif}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.opcioneducativa}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.continuidadestudio}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.otromediodif.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.otromedioinf.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.otroopcioneduca.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.otromediodif}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.otromedioinf}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.otroopcioneduca}}
          </th>
        </tr>


        <tr>
          <th colspan="5"></th>
        </tr>

        <!--REDES SOCIALES -->
        <tr>
          <thead class="table-success ">
            <th colspan="5">Redes sociales</th>
          </thead>
          <th class="text-center" colspan="3">
            {{ form.facebook.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.twitter.label}}
          </th>

        </tr>

        <tr>
          <th class="text-center" colspan="3">
            {{ form.facebook}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.twitter}}
          </th>
        </tr>

        <tr>
          <th colspan="5"></th>
        </tr>

        <!--SERVICIO MEDICO -->

        <tr>
          <thead class="table-success ">
            <th colspan="5">Servicio médico</th>
          </thead>
          <th class="text-center" colspan="1">
            {{ form.serviciomedico.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.institucionseguro.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.otrainstitucionseguro.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.serviciomedico}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.institucionseguro}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.otrainstitucionseguro}}
          </th>

        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.numafiliacion.label}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.discapacidad.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.tipodiscapacidad.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="2">
            {{ form.numafiliacion}}
          </th>
          <th class="text-center" colspan="1">
            {{ form.discapacidad}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.tipodiscapacidad}}
          </th>

        </tr>

        <tr>
          <th colspan="5"></th>
        </tr>


        <!--DATOS ADICIONALES -->

        <tr>
          <thead class="table-success ">
            <th colspan="5">Datos adicionales</th>
          </thead>
          <th class="text-center" colspan="1">
            {{ form.indigena.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.poblacionindigena.label}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.lenguaindigena.label}}
          </th>
        </tr>

        <tr>
          <th class="text-center" colspan="1">
            {{ form.indigena}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.poblacionindigena}}
          </th>
          <th class="text-center" colspan="2">
            {{ form.lenguaindigena}}
          </th>
        </tr>

      </table>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block text-white" id="save">
        Guardar {% bs_icon 'check2-square' size='1.5em'%}</button>
    </div>
  </form>
</div>
{% endblock form %}

{% block search %}
{% comment %} Busqueda por nombre {% endcomment %}
<h2 class="fs-1" style="text-align: center;">Registro aspirante: </h2>
<h6 class="text-center mb-5">Un nuevo aspirante, un nuevo futuro.</h6>
<form method="GET" action="{% url 'registro_aspirante' %}">
  <div class="input-group mb-3 mt-4">
    <input type="search" class="form-control" placeholder="Ingrese el nombre del aspirante" name="search_aspirante">
    <div class="input-group-append">
      <span class="input-group-text bg-success">
        {% load bootstrap_icons %}
        <button class="btn btn-success text-white">
          {% bs_icon 'search' size='1.5em'%}
        </button>
      </span>
    </div>
  </div>
</form>
{% endblock search %}

{% block table %}
{% comment %} Espera una tabla que se llena con un for {% endcomment %}
<table class="table table-striped mt-5">
  <p style="text-align: right; font-size: 25px;" class="mt-5">Número de registros: {{ contador }} </p>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Edad</th>
      <th>Usuario Alta</th>
      <th>Usuario Cambio</th>
      <th id="operaciones">Operaciones</th>
    </tr>
  </thead>
  <tbody>
    {% for p in entity %}
    <tr>
      {% load bootstrap_icons %}
      <td>{{ p.nombre_asp }}</td>
      <td>{{ p.paterno_asp }}</td>
      <td>{{ p.materno_asp }}</td>
      <td>{{ p.edad_asp }}</td>
      <td>{{ p.user_alta }}</td>
      <td>{{ p.user_cambio }}</td>
      <td class="d-flex justify-content-evenly">
        <a href="../export-pdf-aspirante/{{ p.rowid_asp }}/" class="btn btn-danger">
          {% bs_icon 'file-earmark-pdf' size='1.5em'%}
        </a>
        <a href="../actualizar-aspirante/{{ p.rowid_asp }}/" class="btn btn-warning">
          {% bs_icon 'pencil-square' size='1.5em'%}
        </a>
        <a href="../eliminar-aspirante/{{ p.rowid_asp }}/" class="btn btn-danger">
          {% bs_icon 'trash' size='1.5em'%}
        </a>
        <a href="../export-print-aspirante/{{ p.rowid_asp }}/" class="btn btn-secondary">
          {% bs_icon 'printer' size='1.5em'%}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock table %}