{% extends '../../../../base.html' %}
{% block title %}Captura Aspirante{% endblock title %}

{% block navbar %}
{% include 'NavBar.html' %}
{% endblock navbar %}

{% block body %}
<div class="row">

  <h2 class="fs-1" style="text-align: center;">Registro aspirante: </h2>
  <h6 class="text-center mb-5">Un nuevo aspirante, un nuevo futuro.</h6>
  <div class="card shadow-lg  bg-body rounded">

    <form action="" method="POST">{% csrf_token %}
      <div class="table-responsive-sm mt-4">




        <table class="table mt-3">

          <tr>
            <th class="text-center" colspan="5">
              {{ form.folio_utn_asp.label}}
              {{ form.folio_utn_asp}}
            </th>
          </tr>
          <tr>
            <th class="text-center" colspan="5">
              {{ form.folio_cen_asp.label}}
              {{ form.folio_cen_asp}}
            </th>
          </tr>

          </tr>
          <!--DATOS DEL ASPIRANTE -->
          <thead class="table-success">
            <th colspan="5">Datos aspirante</th>
          </thead>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.paterno_asp.label}}
            </th>
            <th class="text-center">
              {{ form.materno_asp.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.nombre_asp.label}}
            </th>



          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.paterno_asp}}
            </th>
            <th class="text-center">
              {{ form.materno_asp}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.nombre_asp}}
            </th>


          </tr>

          <tr>
            <th colspan="5"></th>
          </tr>

          <!--FECHA Y LUGAR DE NACIMIENTO -->
          <tr>
            <thead class="table-success ">
              <th colspan="5">Fecha y lugar de nacimiento del aspirante</th>
            </thead>

            <th class="text-center" colspan="2">
              {{ form.fecha_nac_asp.label}}
            </th>
            <th class="text-center">
              {{ form.rfc_asp.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.curp_asp.label}}
            </th>

          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.fecha_nac_asp}}
            </th>
            <th class="text-center">
              {{ form.rfc_asp}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.curp_asp}}
            </th>

          </tr>

          <tr>
            <th class="text-center" colspan="3">
              {{ form.rowid_mundel.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.rowid_col.label}}
            </th>

          </tr>

          <tr>
            <th class="text-center" colspan="3">
              {{ form.rowid_mundel}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.rowid_col}}
            </th>
          </tr>

          <tr>
            <th colspan="5"></th>
          </tr>

          <!--DOMICILIO PARTICULAR -->
          <tr>
            <thead class="table-success ">
              <th colspan="5">Domicilio particular del aspirante</th>
            </thead>
            <th class="text-center" colspan="3">
              {{ form.calle_asp.label}}
            </th>
            <th class="text-center">
              {{ form.num_ext_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.num_int_asp.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="3">
              {{ form.calle_asp}}
            </th>
            <th class="text-center">
              {{ form.num_ext_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.num_int_asp}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.rowid_mundel.label}}
            </th>
            <th class="text-center">
              {{ form.rowid_col.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.codigo_postal_asp.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.rowid_mundel}}
            </th>
            <th class="text-center">
              {{ form.rowid_col}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.codigo_postal_asp}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.tel_cas_asp.label}}
            </th>
            <th class="text-center">
              {{ form.telefono_oficina_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.edad_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.sexo_asp.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.tel_cas_asp}}
            </th>
            <th class="text-center">
              {{ form.telefono_oficina_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.edad_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.sexo_asp}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="1">
              {{ form.estado_civil_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.trabaja_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.email_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.tipo_de_sangre_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.turno_asp.label}}
            </th>

          </tr>

          <tr>
            <th class="text-center" colspan="1">
              {{ form.estado_civil_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.trabaja_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.email_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.tipo_de_sangre_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.turno_asp}}
            </th>
          </tr>


          <tr>
            <th colspan="5"></th>
          </tr>

          <!--DATOS TUTOR -->
          <tr>
            <thead class="table-success ">
              <th colspan="5">Datos del tutor</th>
            </thead>
            <th class="text-center" colspan="2">
              {{ form.pat_tutor_asp.label}}
            </th>
            <th class="text-center">
              {{ form.mat_tutor_asp.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.nombre_tutor_asp.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.pat_tutor_asp}}
            </th>
            <th class="text-center">
              {{ form.mat_tutor_asp}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.nombre_tutor_asp}}
            </th>
          </tr>


          <tr>
            <th colspan="5"></th>
          </tr>

          <!--ANTECEDENTES ACADEMICOS -->
          <tr>
            <thead class="table-success ">
              <th colspan="5">Antecedentes academicos</th>
            </thead>
            <th class="text-center" colspan="2">
              {{ form.rowid_mundel.label}}
            </th>
            <th class="text-center">
              {{ form.rowid_esc_proc.label}}
            </th>

            <th class="text-center" colspan="2">
              {{ form.rowid_tipo_esc.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.rowid_mundel}}
            </th>
            <th class="text-center">
              {{ form.rowid_esc_proc}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.rowid_tipo_esc}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.rowid_area_bac.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.promedio_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.fecini_bach_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.fecfin_bach_asp.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.rowid_area_bac}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.promedio_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.fecini_bach_asp}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.fecfin_bach_asp}}
            </th>
          </tr>


          <tr>
            <th class="text-center" colspan="2">
              {{ form.rowid_medio_dif.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.otromediodif.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.otromedioinf.label}}
            </th>

          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.rowid_medio_dif}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.otromediodif}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.otromedioinf}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.opcioneducativa.label}}
            </th>
            <th class="text-center">
              {{ form.otroopcioneduca.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.continuidadestudio.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.opcioneducativa}}
            </th>
            <th class="text-center">
              {{ form.otroopcioneduca}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.continuidadestudio}}
            </th>

          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.fechaexpedicioncer.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.folio.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.fechacompromisocerti.label}}
            </th>

          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.fechaexpedicioncer}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.folio}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.fechacompromisocerti}}
            </th>

          </tr>

          <tr>
            <th colspan="5"></th>
          </tr>

          <!--REDES SOCIALES -->
          <tr>
            <thead class="table-success ">
              <th colspan="5">Redes sociales</th>
            </thead>
            <th class="text-center" colspan="3">
              {{ form.facebook.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.twitter.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="3">
              {{ form.facebook}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.twitter}}
            </th>
          </tr>

          <tr>
            <th colspan="5"></th>
          </tr>
          <!--OTRO -->
          <tr>
            <thead class="table-success ">
              <th colspan="5">Otro</th>
            </thead>
            <th class="text-center" colspan="1">
              {{ form.discapacidad.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.tipodiscapacidad.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.serviciomedico.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.institucionseguro.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.numafiliacion.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="1">
              {{ form.discapacidad}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.tipodiscapacidad}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.serviciomedico}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.institucionseguro}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.numafiliacion}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.otrainstitucionseguro.label}}
            </th>
            <th class="text-center">
              {{ form.poblacionindigena.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.lenguaindigena.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.otrainstitucionseguro}}
            </th>
            <th class="text-center">
              {{ form.poblacionindigena}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.lenguaindigena}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.generacion_asp.label}}
            </th>
            <th class="text-center" colspan="1">
              {{ form.user_alta.label}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.fecha_alt_asp.label}}
            </th>
          </tr>

          <tr>
            <th class="text-center" colspan="2">
              {{ form.generacion_asp}}
            </th>
            <th class="text-center" ccolspan="1">
              {{ form.user_alta}}
            </th>
            <th class="text-center" colspan="2">
              {{ form.fecha_alt_asp}}
            </th>
          </tr>


        </table>
      </div>


      <div class="form-group d-flex justify-content-evenly">
        <button type="submit" class="btn btn-success btn-block text-white mb-3 w-25">Registrar</button>
        <a class="btn btn-danger btn-block mb-3 w-25" href="{% url 'index' %}">Cancelar</a>
      </div>
    </form>


  </div>
</div>
{% endblock %}