{% extends '../../../../base.html' %}

{% block title %}Lista Escuela de Procedencia{% endblock title %}

{% block body %}
    <h2>Lista Escuelas de Procedencia</h2>
    <h3>Cantidad de Escuelas: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Municipio/Delegacion</th>
                <th class="cabecera">CCT</th>
                <th class="cabecera">Nombre de Escuela</th>
                <th class="cabecera">Tipo de Escuela</th>
                <th class="cabecera">Servicio</th>
                <th class="cabecera">Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for ep in escpro %}
            <tr >
                <td>{{ ep.rowid_mundel. }}</td>
                <td>{{ ep.cct_esc_proc }}</td>
                <td>{{ ep.nombre_esc_proc }}</td>
                <td>{{ ep.control_esc_proc }}</td>
                <td>{{ ep.servicio_esc_proc }}</td>
                <td>{{ ep.estatus_esc_proc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }
    </style>

{% endblock body %}