{% extends '../../../../base.html' %}

{% block title %}Lista Indicadores Aspirantes{% endblock title %}

{% block body %}
    <h2>Lista Indicadores Aspirantes</h2>
    <h3>Cantidad de Indicadores Aspirantes: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Carrera</th>
                <th class="cabecera">Indicador</th>
                <th class="cabecera">Clave Indicador-Aspirante</th>
                <th class="cabecera">Valor Porcentual</th>
                <th class="cabecera">Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for i in IndAsp %}
            <tr >
                <td>{{ i.rowid_car.descri_largo_car }}</td>
                <td>{{ i.rowid_indicador.descri_largo_ind }}</td>
                <td>{{ i.rowid_pro_ind_asp }}</td>
                <td>{{ i.valor_porcentual }}</td>
                <td>{{ i.estatus_indicadores }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }
    </style>

{% endblock body %}