{% extends '../../CRUD.html' %}

{% block title %}Gestión de Estudiantes.{% endblock title %}

{% block buttons %}
{% comment %} Espera los botones imprimir {% endcomment %}
<h3>Gestión de Estudiante</h3>
    <div class="container mb-4 mt-4">
        <div class="row justify-content-md-center">
            <div class="col col-12 col-sm-3 col-lg-3">
                {% load bootstrap_icons %}
                <a href="{% url 'export_csv_estudiante' %}" type="button" class="btn btn-primary" id="button">CSV {% bs_icon 'file-earmark-bar-graph' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_xlwt_estudiante' %}" type="button" class="btn btn-success" id="button">Excel{% bs_icon 'file-earmark-excel' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_pdf_estudiante' %}" type="button" class="btn btn-danger" id="button">PDF{% bs_icon 'file-earmark-pdf' size='1.5em'%}</a>
            </div>
            <div class="col col-12 col-sm-3 col-lg-3">
                <a href="{% url 'export_print_estudiante' %}" type="button" class="btn btn-secondary"id="button">Print {% bs_icon 'printer' size='1.5em'%}</a>
            </div>
        </div>
    </div>
{% endblock buttons %}


{% comment %} Espera un formulario con los campos de texto y botones {% endcomment %}
{% block form %}
<form action="" method="POST">{% csrf_token %}
    {{ FormsEstudiante.as_p }}
    <div class="form-group" >
        <button type="submit" class="btn btn-success btn-block text-white" id="save"> Guardar {% bs_icon 'check2-square' size='1.5em'%}</button>
    </div>
</form>
{% endblock form %}

{% block search %}
{% comment %} Busqueda por nombre {% endcomment %}
<h1>Catálogo de Estudiantes</h1>
<form method="GET" action="{% url 'vista_estudiante' %}">
    <div class="input-group mb-3 mt-4">
        <input type="search" class="form-control" placeholder="Ingrese el nombre del estudiante" name="search_estudiante">
        <div class="input-group-append">
            <span class="input-group-text bg-success">
                {% load bootstrap_icons %}
                <button class="btn btn-success text-white">
                    {% bs_icon 'search' size='1.5em'%}
                </button>
            </span>
        </div>
    </div>
</form>
{% endblock search %}

{% comment %} Espera una tabla que se llena con un for {% endcomment %}
{% block table %}
<table class="table table-striped">
    <p style="text-align: right; font-size: 25px;">Número de registros: {{ contador }} </p>
    <thead>
        <tr>
            <th>Becas</th>
            <th>Carrera</th>
            <th>Colonia</th>
            <th>Grupo</th>
            <th>Matricula</th>
            <th>Nombre del estudiante</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>RFC</th>
            <th>CURP</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo electronico</th>
            <th>Sexo</th>
            <th>Fecha de alta</th>
            <th>Modifico</th>
            <th>Fecha baja</th>
            <th>Modifico</th>
            <th>Cp</th>
            <th>Fecha de nacimiento</th>
            <th>Turno</th>
            <th>Generacion</th>
            <th>Periodo</th>
            <th>Año</th>
            <th>Estado civil</th>
            <th>Apellido materno del tutor</th>
            <th>Apellido paterno del tutor</th>
            <th>Nombre del tutor</th>
            <th>Numero de folio</th>
            <th>Entidad de nacimiento</th>
            <th>Mpo de nacimiento</th>
            <th>Trabajo del estudiante</th>
            <th>Tipo de sangre del estudiante</th>
            <th>Id tipo de escuela</th>
            <th>Id area de bachillerato</th>
            <th>Entidad del bachillerato</th>
            <th>Mpo del bachillerato</th>
            <th>Fecha de inicio bachillerato</th>
            <th>Fecha de termino de bachillerato</th>
            <th>Promedio general bachillerato</th>
            <th>Telefono trabajo</th>
            <th>Edad</th>
            <th>Fecha de vigencia</th>
            <th>Estatus del inscrito</th>
            <th>Imss</th>
            <th>Clinica</th>
            <th>Numero de servicio</th>
            <th>Fecha de servicio social</th>
            <th>Fecha de repositorio</th>
            <th>Matricula estudiante</th>
            <th>Beca</th>
            <th>Usuario </th>
            <th>Contraseña</th>
            <th>Estatus biblioteca</th>
            <th>Tipo de carrera</th>
            <th>Otras</th>
            <th>Cedula</th>
            <th>Referencia</th>
            <th>Grasc</th>
            <th>Institucion del seguro</th>
            <th>Otra institucion</th>
            <th>Nacionalidad</th>
            <th>Discapacidad</th>
            <th>Tipo de discapacidad</th>
            <th>Folio certificado</th>
            <th>Fecha de expedicion</th>
            <th>Equivalencia</th>
            <th>Parentesco tutor</th>
            <th>Tipo de estudiante</th>
            <th>Numero exterior</th>
            <th>Numero interior</th>
            <th>Estatus</th>
            <th id="operaciones">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for p in entity %}
        <tr>
            {% load bootstrap_icons %}
            <td>{{ p.rowid_becas }}</td>
            <td>{{ p.rowid_car }}</td>
            <td>{{ p.rowid_col }}</td>
            <td>{{ p.rowid_grupo }}</td>
            <td>{{ p.id_matricula }}</td>
            <td>{{ p.nombre_estu }}</td>
            <td>{{ p.paterno_est }}</td>
            <td>{{ p.materno_est }}</td>
            <td>{{ p.rfc_est }}</td>
            <td>{{ p.curp_est }}</td>
            <td>{{ p.direccion_est }}</td>
            <td>{{ p.telefono_est }}</td>
            <td>{{ p.email_est}}</td>
            <td>{{ p.sexo_est }}</td>
            <td>{{ p.fecha_alta_est }}</td>
            <td>{{ p.user_alta_est }}</td>
            <td>{{ p.fecha_cambio_est }}</td>
            <td>{{ p.user_cambio_est }}</td>
            <td>{{ p.codpos }}</td>
            <td>{{ p.fec_nac_est }}</td>
            <td>{{ p.turno_est }}</td>
            <td>{{ p.generacion_est }}</td>
            <td>{{ p.periodo_est }}</td>
            <td>{{ p.anio_est }}</td>
            <td>{{ p.estado_civil_est }}</td>
            <td>{{ p.mat_tutor_est }}</td>
            <td>{{ p.pat_tutor_est }}</td>
            <td>{{ p.nombre_tutor_est }}</td>
            <td>{{ p.no_folio_est }}</td>
            <td>{{ p.entidad_nac }}</td>
            <td>{{ p.mpo_del_nac }}</td>
            <td>{{ p.trabaja_est }}</td>
            <td>{{ p.tipo_sangre_est }}</td>
            <td>{{ p.id_tipo_esc_est }}</td>
            <td>{{ p.id_area_bach_est }}</td>
            <td>{{ p.entidad_bach }}</td>
            <td>{{ p.mpo_del_bach }}</td>
            <td>{{ p.fecha_ini_bach }}</td>
            <td>{{ p.fecha_fin_bach }}</td>
            <td>{{ p.promedio_gral_bach }}</td>
            <td>{{ p.tel_trabajo }}</td>
            <td>{{ p.edad_est }}</td>
            <td>{{ p.fecha_vig_est }}</td>
            <td>{{ p.estatus_inscri_est }}</td>
            <td>{{ p.imss_est }}</td>
            <td>{{ p.clinica_est }}</td>
            <td>{{ p.num_servicio }}</td>
            <td>{{ p.fec_ser_social }}</td>
            <td>{{ p.fecha_repos_est }}</td>
            <td>{{ p.matri_est }}</td>
            <td>{{ p.beca_pro_est }}</td>
            <td>{{ p.usuario_est }}</td>
            <td>{{ p.password_est }}</td>
            <td>{{ p.estatus_biblio }}</td>
            <td>{{ p.tipo_carrera_est }}</td>
            <td>{{ p.otras_uts }}</td>
            <td>{{ p.no_cedula_tsu }}</td>
            <td>{{ p.no_referencia }}</td>
            <td>{{ p.grasc }}</td>
            <td>{{ p.institucion_seguro }}</td>
            <td>{{ p.otrainstitucionseguro }}</td>
            <td>{{ p.nacionalidad }}</td>
            <td>{{ p.discapacidad }}</td>
            <td>{{ p.tipodiscapacidad }}</td>
            <td>{{ p.foliocertificado }}</td>
            <td>{{ p.fechaexpedicioncer }}</td>
            <td>{{ p.equivalencia }}</td>
            <td>{{ p.parentescotutor }}</td>
            <td>{{ p.tipoestudiante }}</td>
            <td>{{ p.num_ext }}</td>
            <td>{{ p.num_int }}</td>
            <td>{{ p.estatus_est }}</td>
            <td class="d-flex justify-content-evenly">
                <a href="../vista-estudiante/{{ p.rowid_matricula }}/" class="btn btn-warning">
                    {% bs_icon 'pencil-square' size='1.5em'%}
                </a>
                <a href="../eliminar-estudiante/{{ p.rowid_matricula }}/" class="btn btn-danger">
                    {% bs_icon 'trash' size='1.5em'%}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock table %}