{% extends '../../../../base.html' %}

{% block title %}Lista Universidades{% endblock title %}

{% block body %}
    <h2>Lista Universidades</h2>
    <h3>Cantidad de Universidades: {{ count }}</h3>
    <table>
        <thead>
            <tr>
                <th class="cabecera">Colonia</th>
                <th class="cabecera">Id universidad</th>
                <th class="cabecera">Nombre de la universidad</th>
                <th class="cabecera">Tipo de organización</th>
                <th class="cabecera">Dirección</th>
                <th class="cabecera">RFC</th>
                <th class="cabecera">Cod. Pos.</th>
                <th class="cabecera">Teléfono 1</th>
                <th class="cabecera">Teléfono 2</th>
                <th class="cabecera">Teléfono 3 </th>
                <th class="cabecera">Extensión 1</th>
                <th class="cabecera">Extensión 2</th>
                <th class="cabecera">Extensión 3</th>
                <th class="cabecera">Email</th>
                <th class="cabecera">Pagina Internet</th>
                <th class="cabecera">Contacto</th>
                <th class="cabecera">Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for u in uni %}
            <tr >
                <td>{{ u.rowid_col }}</td>
                <td>{{ u.id_uni }}</td>
                <td>{{ u.nombre_uni }}</td>
                <td>{{ u.tipo_org_uni }}</td>
                <td>{{ u.direccion_uni }}</td>
                <td>{{ u.rfc_uni }}</td>
                <td>{{ u.codpos_uni }}</td>
                <td>{{ u.telefono1_uni }}</td>
                <td>{{ u.telefono2_uni }}</td>
                <td>{{ u.telefono3_uni }}</td>
                <td>{{ u.ext1_uni }}</td>
                <td>{{ u.ext2_uni }}</td>
                <td>{{ u.ext3_uni }}</td>
                <td>{{ u.mail_uni }}</td>
                <td>{{ u.pagina_internet_uni }}</td>
                <td>{{ u.contacto_uni }}</td>
                <td>{{ u.estatus_uni }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box ;
        }
        h2,h3{
            font-family: arial;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
        h3{
            font-size: 18px;
            text-align: right;
        }
        table {
            width: 100%;
            border: 2px solid #000;
         }
         th, td {
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }
         th {
            background: #eee;
         }
         .cabecera{
             background: #000;
             color: #eee;
         }

          {% comment %} Esta linea se usa para cambiar la orientacion de la hoja de vertical a horizontal       {% endcomment %}
         @page {
            size: letter landscape;
            margin: 0.5cm;
            type: A4;
        } 
    </style>

{% endblock body %}